.grid-container {
  display: grid;
  grid-template-areas: "header header header header" "main-container main-container main-container main-container" "main-container main-container main-container main-container";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 10rem 1fr 1fr;
  height: 100%;
}

.header {
  align-items: center;
  display: flex;
  grid-area: header;
  justify-content: space-between;
}

.main-container {
  background: var(--primary-white);
  grid-area: main-container;
  height: 100vh;
}

@media screen and (max-width: 775px) {
  .grid-container {
    grid-template-rows: 20rem 1fr 1fr;
  }

  .header {
    flex-direction: column;
  }
}