.card {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: relative;
}

.card__image {
  height: 40.5rem;
}

.card__overview {
}

/* .card__description {
  align-items: center;
  background: rgba(29, 106, 154, 0.72);
  bottom: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 0;
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity .2s, visibility .2s;
  visibility: hidden;
} */

.card:hover .card__description {
  opacity: 1;
  visibility: visible;
}