.card {
  align-items: center;
  background: cover;
  display: flex;
  flex-direction: column;
  height: 60rem;
  justify-content: center;
  position: relative;
  transition-duration: .5s;
}

.card__title {
  font-size: 1.9rem;
}

.card__avg {
  font-size: 1.6rem;
}

.card__overview {
  font-size: 1.3rem;
  text-align: left;
}

.card__button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-size: 2rem;
  outline: inherit;
  padding: 0;
}

.card__title,
.card__avg,
.card__overview,
.card__overview {
  margin-bottom: 1rem;
}

.card__content {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  opacity: 1;
  padding: 2rem;
  text-align: center;
  transform: translateY(100%) translateX(0);
  transition: .5s ease;
  transition-delay: .2s;
  width: 100%;
  z-index: 1;
}

.overlay {
  background: linear-gradient(transparent, rgba(0, 0, 0, 1));
  height: 100%;
  opacity: 0;
  position: absolute;
  transition: .5s ease;
  visibility: hidden;
  width: 100%;
}

.card:hover .card__content {
  transform: translateY(0) translateX(0);
  visibility: visible;
}

.card:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.card:hover {
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.2), 0 2px 1px 0 rgba(0,0,0,.14), 0 3px 1px -1px rgba(0,0,0,.12);
  transform: scale(1.008)
}

.favorite {
  color: red;
}

.not-favorite {
  color: #fff;
}